@media (max-width: 575px) {
    .header {
        flex-direction: column;
        &__contacts {
            margin-top: 30px;
        }
    }
    .promo {
        &__wrapper {
            margin-top: 50px;
        }
        &__header {
            font-size: 32px;
        }
        &__subheader-disable {
            display: none;
        }
        &__icon {
            font-size: 12px;
        }
        .button_main {
            width: 280px;
        }
    }
    .consultation {
        min-height: 580px;
        padding: 70px 0 70px 0;
        .title {
            font-size: 30px;
        }
        &__descr {
            display: none;
        }
    }
}

@media (max-width: 340px) {
    .feed-form {
        width: 290px;
    }
}