@media ( max-width: 991px){
    .container{
        padding: 0 15px;
    }
    .advantages{
        &__item {
            margin: 0 15px;
        }
    }
    .consultation {
        .title_left {
            font-size: 32px;
        }
    }
    
}