@media (max-width: 575px) {
    .title {
        font-size: 26px;
    }
    .header {
        flex-direction: column;
        &__contacts {
            margin-top: 30px;
        }
    }
    .promo {
        &__wrapper {
            margin-top: 50px;
        }
        &__header {
            font-size: 32px;
        }
        &__subheader-disable {
            display: none;
        }
        &__icon {
            font-size: 12px;
        }
        .button_main {
            width: 280px;
        }
    }
    .consultation {
        min-height: 580px;
        padding: 70px 0 70px 0;
        .title {
            font-size: 30px;
        }
        &__descr {
            display: none;
        }
    }
    .reviews {
        &__wrapper {
            flex-direction: column;
            align-items: center;
            img {
                margin-right: 0;
                margin-bottom: 20px;
            }
        }
        &__name, &__subtitle{
            text-align: center;
        }
        &__descr {
            text-align: center;
        }
    }
    .footer {
        &__info {
            width: 100%;
        }
        &__address {
            font-size: 18px;
        }
    }
}

@media (max-width: 340px) {
    .feed-form {
        width: 290px;
    }
}
