@media (max-width: 767px) {
    .promo {
        .header {
            flex-wrap: wrap;
            position: relative;
            &__official-disable {
                display: none;
            }
        }
        &__wrapper {
            display: block;
            margin-top: 110px;
        }
        &__header {
            font-size: 36px;
            text-align: center;
        }
        &__subheader {
            font-size: 20px;
            text-align: center;
        }
        &__icons {
            width: 100%;
            justify-content: center;
        }
        &__icon {
            margin-right: 20px;
            &:last-child {
                margin-right: 0;
            }
        }
        .button_main {
            display: block;
            margin: 0 auto;
            margin-top: 67px;
        }
        &__link {
            text-align: center;
        }
    }
    .advantages {
        &__wrapper {
            flex-direction: column;
            align-items: center;
        }
        &__item {
            margin-top: 30px;
            text-align: center;
            width: 247px;
            &:first-child{
                margin-top: 0;
            }
        }
    }
    .consultation {
        .title, &__descr {
           text-align: center;
        }
        
    }
    .feed-form {
        margin: 0 auto;
        margin-top: 36px;
    }
}
