@import 'libs/bootstrap-reboot.min';
@import 'libs/fonts';
@import 'libs/animate';



@import 'base/variables';
@import 'base/mixins';
@import 'base/animations';

* {
    font-family: 'Museo Sans', sans-serif;
}

.container {
    position: relative;
    max-width: 950px;
    margin: 0 auto;
}

@import 'blocks/promo';
@import 'blocks/header';
@import 'blocks/buttons';
@import 'blocks/titles';
@import 'blocks/advantages';
@import 'blocks/consultation';
@import 'blocks/forms';
@import 'blocks/carousel';
@import 'blocks/catalog';
@import 'blocks/reviews';
@import 'blocks/footer';
@import 'blocks/modal';
@import 'blocks/pageup';

@import 'screen-size/sz-xl';
@import 'screen-size/sz-lg';
@import 'screen-size/sz-md';
@import 'screen-size/sz-sm';
@import 'screen-size/sz-xs';