.advantages {
    min-height: 470px;
    background-color: #f6f6f6;
    padding: 70px 0 78px 0;
    &__title {
        text-align: center;
    }
    &__wrapper {
        margin-top: 65px;
        display: flex;
        justify-content: space-between;
    }
    &__item {
        text-align: center;
        width: 247px;
    }
    &__subheader {
        font-size: 18px;
        line-height: 16px;
        font-weight: 700;
        color: #0d0d0d;
        margin-top: 38px;
    }
    &__descr {
        font-size: 14px;
        line-height: 1.2;
        font-weight: 300;
        color: #0d0d0d;
        text-align: center;
        margin-top: 26px;
    }
}
