.carousel {
    padding: 81px 0;
    &__inner {
        position: relative;
        width: 750px;
        margin: 0 auto;
    }
    .prev, .next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -66px;
        border: none;
        background: none;
        outline: none;
        img {
            width: 31px;
            height: 50px;
        }
    }
    .next {
        left: auto;
        right: -66px;
    }
    .tns-slider {
        img {
            display: block;
            margin: 0 auto;
        }
    }
    // .tns-nav {
    //     button {
    //         background-color: red;
    //     }
    //     .tns-nav-active {
    //         background-color: blue;
    //     }
    // }
}
