.promo {
    min-height: 650px;
    padding: 21px 0 93px 0;
    background: url("../img/promo_bg.jpg") center (center/cover) no-repeat;
    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-top: 90px;
    }
    &__header {
        font-size: 42px;
        font-weight: 700;
        text-transform: uppercase;
        color: #ffffff;
        line-height: 36px;
    }
    &__subheader {
        font-size: 24px;
        font-weight: 500;
        text-transform: uppercase;
        color: #ffffff;
        line-height: 25px;
        margin-top: 15px;
    }
    &__icons {
        margin-top: 66px;
        width: 425px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
    &__icon {
        width: 108px;
        text-align: center;
        font-size: 14px;
        font-weight: 500;
        color: #ffffff;
        img {
            display: block;
            margin: 0 auto;
            margin-bottom: 20px;
            height: 44px;
        }
    }
    &__link {
        margin-top: 18px;
        font-size: 16px;
        font-weight: 500;
        color: #ffffff;
        a {
            text-decoration: underline;
            color: #ffffff;
        }
    }
}
