.reviews {
    padding-bottom: 71px;
    &__wrapper {
        display: flex;
        margin-top: 100px;
        img {
            width: 169px;
            height: 169px;
            margin-right: 62px;
        }
        &_1 {
            margin-top: 70px;
        }
    }
    &__name {
        font-size: 18px;
        font-weight: 700;
        color: #0d0d0d;
        line-height: 17px;
    }
    &__subtitle {
        font-size: 14px;
        font-weight: 300;
        color: #646464;
        margin-top: 10px;
        line-height: 13px;
    }
    &__descr {
        font-size: 16px;
        font-weight: 500;
        color: #0d0d0d;
        line-height: 1.2;
        margin-top: 19px;
    }
}
